.headerBox{
    height: 80px;
    .content{
        width: 1200px;
        margin: 0 auto;
        // outline: 1px solid royalblue;
        .logo_box{
            width: 156px;
            height: 40px;
            margin: 20px 70px 20px 0;
        }
        .header_middle{
            flex: 1;
            margin: 20px auto;
        }
        .nav_ul{
            .nav_li{
                margin-right: 50px;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: #333;
                line-height: 40px;
            }
        }
        .header_login_box{
            width: 200px;
            text-align: right;

            .not_login{

            }
        }
    }
    
}
